*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-2x {
  font-size: 2em;
}

.fa, .fab {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}

.main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
}

.main-menu 
{
  background: #5B6478;
  border-right:1px solid #e5e5e5;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  transition:width .08s linear;
  z-index:1000;
}

.main-menu>ul {
  margin:25px 0;
}

.main-menu li {
  width:250px;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#E3EAF9;
  font-size: 14px;
  text-decoration:none;
  transition:all .1s linear;
  font-family: 'Poppins', sans-serif;
}


.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
}


a:hover,a:focus 
{
  text-decoration:none;
}


.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#2B3448;
}

.main-menu li>a>i:hover {
 color: #D8C9A7;
}


